<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <a class="logocontainer" href="/">
        <div>
            <h1 class="logo">SGO</h1>
        </div>
        </a>
        <nav>
            <ul>
                <li><a href="/insert">Insert</a></li>
                <li><a href="/">Ver todos</a></li>
                <li></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>

    </footer>
</body>
</html>