<h1 class="pagetitle">Insira um novo empregado:</h1>
<form action="insert" method="post">
    <label for="name">Nome:</label>
    <input id="name" name="name" type="text">
    <label for="gross_salary">Salário (bruto):</label>
    <input id="gross_salary" name="gross_salary" type="text">
    <label for="department">Departamento:</label>
    <input id="department" name="department" type="text" placeholder="1 - Administrativo, 2 - Designer, 3 - Contabil, 4 - Fábrica">
    <button class="submit" type="submit">Enviar</button>
</form>